.top-container {
	margin-top: 50px;
}


.top-container-valign p.v-align {
	display: inline-block;
	width: 200px;
	margin: 0 10px 0 0;
	padding: 15px;
	vertical-align: middle;
}

.top-container-valign p.v-align.v-table {
	display: table-cell;
}

.v1 {
	background-color: black;
	color:white;  
}

.v2 {
	background-color: green;
	color: white;	
}

.v3 {
	background-color: orange;
	color: black;	
}

p.v-align.v-table.v1,
p.v-align.v-table.v2 {
	border-right: 15px solid white;
}


.top-container-display-table .v-align {
	display: table;
	padding: 10px
}

.top-container-display-table .v-align-inline {
	display: inline-table;
	padding: 10px;
}

.top-container-display-table .v-align-table {
	display: table;
	padding: 10px;
}

.top-container-display-table .v-align-table-row {
	display: table-row;
	padding: 10px;
	border-top: 1px solid white;
}

.top-container-display-table .jumbotron {
	padding: 1rem 2rem;
}

.align-border {
	border: 1px solid lightsteelblue;
	border-radius: 3px;
	padding: 8px;
}

.container-table {
	margin-bottom: 10px;
}


#div-scroll {
	width: 500px;
	height: 200px;
	overflow: scroll;
	background-color: #ffe8a1;
	border: 2px solid black;
}